.mypage-root {
    .meal-body {
        padding-right: calc((100% - 960px) / 2);
        padding-left: calc((100% - 960px) / 2);
        padding-bottom: 64px;

        // @media (max-width: 600px) {
        //     padding-right: calc((100% - 960px) / 2);
        //     padding-left: calc((100% - 960px) / 2);
        // }
    }

    .achievement-wrapper {
        display: flex;
    }

    .loadmore {
        cursor: pointer;
        margin-top: 28px;
        display: inline-flex;
        width: 100%;
        justify-content: center;
    }
}