.Meal {

  flex: 1 1 calc(25% - 8px);
  max-width: 234px;

  .meal-wrapper {
    position: relative;
    height: 100%;
    cursor: pointer;

    img {
      width: 234px;
      height: 234px;
    }

    .meal-tag {
      position: absolute;
      color: var(--color-light);
      background-color: var(--color-primary);
      bottom: 3px;

      div {
        font-size: 15px;
        line-height: 18px;
        font-weight: 400;
        font-family: 'Inter';
        padding: 7px 8px;
      }
    }
  }

  .meal-info {
    .meal-description {
      margin: 8px 0px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }

    .meal-hashtags {
      .meal-hashtag {
        font-weight: 300;
        font-size: 12px;
        color: var(--color-icon-primary);
        margin-right: 4px;
      }
    }

  }
}