.button-component {
    padding: 16px 24px;
    background: linear-gradient(32.95deg, #FFCC21 8.75%, #FF963C 86.64%);
    min-width: 296px;
    color: var(--color-light);
    border-radius: 3px;
    text-align: center;
}

.button-wrapper {
    display: flex;
    position: relative;
    width: 116px;
    color: var(--color-light);
    cursor: pointer;

    .content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        font-family: 'Inter';
    }
}