.meal-list-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  gap: 8px;
  box-sizing: border-box;
  justify-content: flex-start;

  &::after {
    content: "";
    width: 20%;
    height: 0;
  }

  .meal-list-content {
    justify-content: flex-start;
  }
}

.ButtonList {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 84px;
  margin-top: 22px;
  margin-bottom: 25px;
}

.AchievementRate {
  flex: 1 1 40%;
  background-size: cover;
  position: relative;

  .achievement-progress {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}