.nav-wrapper {
  padding: 8px 160px;
  display: flex;
  background-color: #414141;
  color: #fff;
  align-items: center;
  font-size: 16px;

  .logo-wrapper {
    flex: 1;
  }
}

.menu-content {
  display: flex;

  li {
    cursor: pointer;
    padding: 12px 22px;

    .link {
      display: flex;
      align-items: center;

      span {
        color: #fff;
        margin-left: 8px;

        &.active {
          color: var(--color-icon-primary);
        }
      }
    }


  }
}

.dropdown {
  position: absolute;
  right: 22px;
  left: auto;
  box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
    0 4px 6px -2px rgba(71, 63, 79, 0.16);
  font-size: 0.875rem;
  z-index: 9999;
  min-width: 280px;

  .menu-items {
    background-color: var(--color-gray);
    padding: 23px 32px;

    &:hover {
      background-color: var(--color-light);

      & .text {
        color: var(--color-main-dark);
      }
    }

    .text {
      color: var(--color-light);
      font-size: 18px;
      font-weight: 300;
    }
  }
}