.MenuScreen {
    display: flex;
    justify-content: space-between;

    .item-wapper {
        position: relative;
        width: 30%;
        max-width: 288px;
        border: 24px solid var(--color-primary);
        box-sizing: border-box;
    }

    .item {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .item-wapper:after {
        content: "";
        display: block;
        padding-bottom: 100%;

    }

    .item-wapper::before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: var(--color-dark);
        opacity: 0.8;
    }

    .content {
        display: flex;
        flex-direction: column;
        position: absolute;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;

        &>:nth-child(1) {
            font-weight: 400;
            font-size: 25px;
            color: var(--color-primary);
        }

        &>:nth-child(2) {
            color: var(--color-light);
            font-weight: 300;
            font-size: 14px;
            background-color: var(--color-icon-primary);
            padding: 4px 16px;
            min-width: 160px;
            text-align: center;
        }
    }
}

.ExerciseRecord {
    background-color: var(--color-dark);
    color: var(--color-light);
    font-size: 15px;
    padding: 16px 24px;

    .ex-header {
        font-weight: 400;
        display: flex;
        align-items: center;

        &>:first-child {
            padding-right: 24px;
        }

        &>:last-child {
            font-size: 22px;
        }
    }

    .ex-content {
        font-weight: 300;
        display: flex;
        flex-wrap: wrap;
        height: 197px;
        overflow: auto;

        .ex-item-wapper {
            width: calc(50% - 50px);
            max-height: 47px;
            display: flex;
            align-items: center;
            border-bottom: 1px solid var(--color-gray);
            margin-right: 50px;
            padding: 8px 0px 2px 0px;

            .ex-item-left {
                flex: 1;
                display: flex;
                flex-direction: column;

                &>:last-child {
                    font-weight: 400;
                    color: var(--color-primary)
                }
            }

            .ex-item-right {
                font-weight: 400;
                font-size: 18px;
                color: var(--color-primary);
                align-items: baseline;
            }
        }
    }

}

.Diaries {
    .diary-header {
        font-weight: 400;
        font-size: 22px;
        margin-bottom: 8px;
    }

    .diary-content {
        display: flex;
        flex-wrap: wrap;
        margin-right: -12px;
        margin-bottom: -12px;

        .diary-item-wapper {
            position: relative;
            width: calc(25% - 12px);
            box-sizing: border-box;
            margin-right: 12px;
            margin-bottom: 12px;
        }

        .diary-item-wapper:after {
            content: "";
            display: block;
            padding-bottom: 100%;
        }

        .diary-item-content {
            position: absolute;
            width: 100%;
            height: 100%;
            border: 2px solid #707070;
            background-color: "#ffffff";
            padding: 16px;
            padding-bottom: 27px;
            display: flex;
            flex-direction: column;
            font-weight: 300;
            font-size: 12px;

            .diary-item-time {
                font-weight: 400;
                font-size: 18px;
            }

            .diary-item-title {
                margin-top: 12px;
            }

            .diary-item-text {
                display: -webkit-box;
                -webkit-line-clamp: 5;
                -webkit-box-orient: vertical;
                overflow: hidden;
            }
        }
    }

    .loadmore {
        cursor: pointer;
        margin-top: 24px;
        display: inline-flex;
        width: 100%;
        justify-content: center;
    }
}