footer {
  padding: 56px 160px;
  background-color: #414141;
  color: #fff;
  font-size: 11px;
  ul {
    display: flex;
    align-items: center;
    flex-direction: row;
      
    li {
      margin-right: 45px;
    }
  }

}