.columnrecord-page {
    padding-right: calc((100% - 960px) / 2);
    padding-left: calc((100% - 960px) / 2);
    padding-bottom: 64px;
    padding-top: 64px;

    .break-div {
        height: 56px;
    }

    .loadmore {
        cursor: pointer;
        margin-top: 28px;
        display: inline-flex;
        width: 100%;
        justify-content: center;
    }
}