@font-face {
  font-family: "NotoSans";
  src: local("NotoSans"),
    url("./assets/fonts/NotoSan/NotoSansJP-Black.otf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "NotoSans";
  src: local("NotoSans"),
    url("./assets/fonts/NotoSan/NotoSansJP-Bold.otf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "NotoSans";
  src: local("NotoSans"),
    url("./assets/fonts/NotoSan/NotoSansJP-Light.otf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "NotoSans";
  src: local("NotoSans"),
    url("./assets/fonts/NotoSan/NotoSansJP-Medium.otf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "NotoSans";
  src: local("NotoSans"),
    url("./assets/fonts/NotoSan/NotoSansJP-Regular.otf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "NotoSans";
  src: local("NotoSans"),
    url("./assets/fonts/NotoSan/NotoSansJP-Thin.otf") format("truetype");
  font-weight: 100;
}


@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("./assets/fonts/Inter/Inter-Black.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("./assets/fonts/Inter/Inter-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("./assets/fonts/Inter/Inter-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("./assets/fonts/Inter/Inter-ExtraLight.ttf") format("truetype");
  font-weight: 200;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("./assets/fonts/Inter/Inter-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("./assets/fonts/Inter/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("./assets/fonts/Inter/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("./assets/fonts/Inter/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"),
    url("./assets/fonts/Inter/Inter-Thin.ttf") format("truetype");
  font-weight: 100;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'NotoSans', 'Inter', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #414141;
  font-weight: 300;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-light: #fff;
  --color-primary: #FFCC21;
  --color-secondary: #8FE9D0;
  --color-dark: #2E2E2E;
  --color-gray: #777777;
  --color-main-dark: #414141;
  --color-icon-primary: #FF963C;
  --color-notify-primary: #EA6C00;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 3px;
  background: var(--color-gray);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--color-primary);
  border-radius: 3px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--color-light);
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: var(--color-main-dark);
}