.svg-pi-wrapper {
    position: relative;
}

.svg-pi {
    transform: rotate(-90deg);
    /* Fix the orientation */
    filter: drop-shadow(0px 0px 6px #FCA500);
}

.svg-pi-indicator {
    text-shadow: 0px 0px 6px #FCA500;
}

/* Animated spinner version */
.svg-pi-indicator--spinner {
    animation: spinner .75s linear infinite;
    transform-origin: center;
}

.svg-pi-label {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.svg-pi-label__loading {
    opacity: .5;
    font-size: 0.75em;
}

.svg-pi-label__progress {
    font-size: 18px;
    font-weight: 400;
    color: var(--color-light);
    text-shadow: 0px 0px 6px #FCA500;

    &.percentage {
        margin-left: 4px;
        font-size: 25px;
    }
}

/* Spinner animation */
@keyframes spinner {
    0% {
        transform: rotate(0)
    }

    100% {
        transform: rotate(360deg)
    }
}