.columnrecord-page {
  .MenuScreen {
    .item-wapper {
      border: none;
      width: 25%;

      margin-right: 14px;

      &:last-child {
        margin-right: 0px;
      }
    }

    .item-wapper::before {
      opacity: 1;
    }

    .item-wapper::after {
      padding-bottom: 66%;
    }

    .content> :nth-child(1) {
      text-align: center;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      padding: 0 14px;
    }

    .content> :nth-child(2) {
      text-align: center;
      background-color: transparent;
      font-size: 18px;
    }
  }

  .recommend-list-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    gap: 8px;
    box-sizing: border-box;
    justify-content: flex-start;

    &::after {
      content: "";
      width: 20%;
      height: 0;
    }

    .meal-list-content {
      justify-content: flex-start;
    }

    .child {
      .meal-wrapper {
        img {
          width: 234px;
          height: 144px;
        }
      }
    }
  }
}

@media screen and (max-width: 1279px) {
  .MenuScreen {
    .content> :nth-child(1) {
      font-size: 18px;
    }

  }
}